---
import Figure from '@components/Figure.astro';

export interface Props {
    img: any;
	title: string;
	date: string;
    attendance?: string;
    imageFit?: 'cover' | 'contain' | 'fill' | 'inside' | 'outside';
}

const { img, title, date, attendance, imageFit } = Astro.props;
---
<div class="meeting w-full flex flex-col xl:flex-row border-4 border-lime-800 mb-5">
    <div class="flex flex-col grow shrink-0">
        <div class="border-b-4 border-lime-800 p-2">
            <h2 class="font-bold text-lime-800">{title}</h2>
            <p class="text-[0.81rem] leading-5 text-lime-800 mb-0">Date: {date}</p>
            <p class="text-[0.81rem] leading-5 text-lime-800 mb-0">Attendance: {attendance}</p>
        </div>
        <div class="p-2">
            <slot />
        </div>
    </div>
    <div class="xl:border-0 xl:border-l-4 xl:w-[400px] w-full border-t-4 border-lime-800 flex items-center justify-center shrink order-1">
        <Figure img={img} classList={['!m-5 xl:w-4/5 md:w-1/3 w-2/3 text-center']} imageFit={imageFit} />
    </div>
</div>
<style is:global>
    div.meeting :global(p, li, ul, h3) {
        margin-bottom: 0 !important;
    }
</style>