---
import Main from '../layouts/Main.astro';
import Cover from '../components/Cover.astro';
import Nav from '../components/Nav.astro';
import SingleNavButton from '../components/SingleNavButton.astro';
import DropdownNavButton from '../components/DropdownNavButton.astro';
import NavButtonEnd from '../components/NavButtonEnd.astro';

const { frontmatter } = Astro.props;
---

<Main title={frontmatter.title + " | Saving Coral Reefs"}>
	<Nav title="Saving Coral Reefs">
		<SingleNavButton href="/" currUrl={frontmatter.url}>Home</SingleNavButton>
		<DropdownNavButton id="coral" name="Climate Change" links={
			[
				{name: "Causes of climate change", url: "/en/02-1"},
				{name: "Environmental impacts", url: "/en/02-2"},
				{name: "Economic impacts", url: "/en/02-3"},
			]
		} currUrl={frontmatter.url} />
		<SingleNavButton href="/en/03" currUrl={frontmatter.url}>Coral Reefs</SingleNavButton>
		<DropdownNavButton id="taiwan" name="Coral Reefs in Taiwan" links={
			[
				{name: "Introduction of Taiwan", url: "/en/04-1"},
				{name: "Taiwan's Coral Reefs", url: "/en/04-2"},
				{name: "Coral Reefs Crisis in Taiwan", url: "/en/04-3"},
			]
		} currUrl={frontmatter.url} />
		<DropdownNavButton id="combating" name="Combating" links={
			[
				{name: "Actions taken", url: "/en/05-1"},
				{name: "Balancing urbanization and climate change", url: "/en/05-2"},
				{name: "Raising awareness for climate change", url: "/en/05-3"},
				{name: "Actions we can take", url: "/en/05-4"},
			]
		} currUrl={frontmatter.url} />
		<DropdownNavButton id="eco_friendly" name="Eco-Friendly Stores" links={
			[
				{name: "About", url: "/en/06"},
				{name: "Interview with Nature Miffy", url: "/en/06-interview"},
			]
		} currUrl={frontmatter.url} />
		<SingleNavButton href="/en/activities" currUrl={frontmatter.url}>Activities</SingleNavButton>
		<!-- <DropdownNavButton id="activities" name="Activities" links={
			[
				{name: "Beach cleanup", url: "/en/activity/beach"},
				{name: "DIY bamboo basket", url: "/en/activity/bamboo"},
			]
		} currUrl={frontmatter.url} /> -->
		<SingleNavButton href="/en/analysis" currUrl={frontmatter.url}>Survey Analysis</SingleNavButton>
		<DropdownNavButton id="path" name="Path" links={
			[
				{name: "Meeting minutes", url: "/en/path/minutes"},
				{name: "Photo album", url: "/en/path/album"},
			]
		} currUrl={frontmatter.url} />
		<DropdownNavButton id="conclusion" name="Conclusion" links={
			[
				{name: "Reflection", url: "/en/conclusion/reflection"},
				{name: "Our team & teachers", url: "/en/conclusion/team"},
				{name: "Bibliography", url: "/en/conclusion/bib"},
			]
		} currUrl={frontmatter.url} />		
		<NavButtonEnd href="#" slot="end">中文</NavButtonEnd>
		<NavButtonEnd href="#" slot="end">Sitemap</NavButtonEnd>
	</Nav>
	<Cover src={frontmatter.bg}>{frontmatter.title}</Cover>
	<div class="container mx-auto">
		<slot/>
	</div>
</Main>
